# Frontend
GOOGLE_MAPS_API_KEY=
GOOGLE_MAPS_MAP_ID=

# OAuth
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=

# Backend - 
## Postgres
POSTGRES_DB=fooglemaps
POSTGRES_USER=fooglemaps
POSTGRES_PASSWORD=
POSTGRES_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}