# Frontend
GOOGLE_MAPS_API_KEY=
GOOGLE_MAPS_MAP_ID=

# OAuth
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=

# Backend
DATABASE_URL=postgresql://fooglemaps:fooglemaps_dev@localhost:5432/fooglemaps